body {
  width: 100%;
  position: relative;
  background: #181818;
  font-family: 'roboto', sans-serif;
  transition: background 0.5s linear, color 0.5s linear;
}

/* Dark Mode */

body.dark {
  background-color: white;
  color: black;
}

body.dark h1 {
  color: black;
}

body.dark p {
  color: black;
}

body.dark nav {
  background-color: #D3D3D3
}

body.dark button.pre-btn {
  background-color: white;
}

body.dark button.next-btn {
  background-color: white;
}

body.dark button.enter-btn {
  background-color: #000;
}

.fa-moon {
  color: #f1c40f
}

.fa-sun {
  color: #f1c40f
}

input {
  visibility: hidden;
}

label {
  background-color: #fff;
  border-radius: 40px;
  display: inline-block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  user-select: none;
  transition: background 0.5s linear;
  padding: 0 2.5vw;
}

.navbar {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 9;
  background: #000;
  padding: 0 2.5vw;
  display: flex;
  align-items: center;
}

.logo {
  height: 80px;
}

.btn {
  border: 1px solid #fff;
  border-radius: 2px;
  background: none;
  color: #fff;
  height: 35px;
  padding: 0 10px;
  margin-left: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.join-box {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-left: auto;
}

.join-msg {
  text-transform: uppercase;
  color: #fff;
  margin-left: 10px;
  padding: 0 10px;
}

.join-btn {
  background: #dd0e15;
  border-color: #dd0e15;
}

.main {
  position: relative;
  margin-top: 60px;
  width: 100%;
  padding: 20px 2.5vw;
  color: #fff;
}

.heading {
  text-transform: capitalize;
  font-weight: 900;
  font-size: 50px;
  color: white;
}

.info {
  width: 50%;
  font-size: 20px;
  margin-top: 10px;
  color: white;
}

.movie-list {
  width: 100%;
  height: 250px;
  margin-top: 60px;
  position: relative
}

.movie-category {
  font-size: 20px;
  font-weight: 500;
  color: white;
}

.movie-category::-webkit-scrollbar {
  display: none;
}

.movie-container {
  width: 100%;
  height: 250px;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  display: flex;
}

.movie-container::-webkit-scrollbar {
  display: none;
}

.movie {
  flex: 0 0 auto;
  width: 24%;
  height: 200px;
  text-align: center;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}

.movie img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie p {
  text-transform: capitalize;
  height: 20px;
  overflow: hidden;
  color: white;
}

.pre-btn,
.next-btn {
  position: absolute;
  height: 200px;
  top: 50%;
  transform: translateY(-38.5%);
  width: 2.5vw;
  background: #181818;
  border: none;
  outline: none;
  opacity: 0.5;
}

.pre-btn:hover,
.next-btn:hover {
  opacity: 1;
}

.pre-btn {
  left: -2.5vw;
}

.next-btn {
  right: -2.5vw;
}

.pre-btn img,
.next-btn img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

/* Test */

.switch {
  position: relative;
  display: inline-block;
  width: 2.5vw;
  height: 34px;
}

/* Hide default HTML checkbox
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
} */

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s ease-in;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s ease-out;
}

/* input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
} */

input:checked+.slider:before {
  -webkit-transform: translateX(2.5vw);
  -ms-transform: translateX(2.5vw);
  transform: translateX(2.5vw);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}